<!-- File name: footer.ejs-->
<!-- Author Name: Amanjot Singh
* Description: this file provide the footer for every page
* -->
<!--js-->
<script src="/javascripts/bootstrap.min.js"></script>

<footer class="alert alert-warning">
    &copy; 2016 | Amanjot Singh
</footer>

</body>
</html>