<!DOCTYPE html>
<html>

    <head>
        <title><%=title%></title>

        <!--css -->
       <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

        <link type="text/css" rel="stylesheet"
              href="/stylesheets/bootstrap-theme.min.css" />
    </head>
    <body>
        <nav  class="nav navbar-default">
            <ul class="nav navbar-inverse">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutMe">About Me</a></li>
                <li><a href="/projectsPage">Projects & Achievements</a></li>
                <li><a href="/servicesPage">Services & Skills</a></li>
                <li><a href="/contactMe">Contact Information</a></li>
            </ul>
        </nav>


