<%- include partials/header.ejs%>
<h1><%= heading %></h1>
<div class="modal-body">
<p>Hello Friends, My name is Amanjot Singh. I am studying Computer Programming at Georgian College- Barrie Campus. I completed my
   High School Secondary Education from Guru Teg Bahadur Public Senior Secondary School Punjab(India). I want to become a successful Web Developer.
    Currently, I am also doing part-time job at Mac's Convenience Store where i am gaining experience of Customer service Representation.
</p>
</div>
<%- include partials/footer.ejs%>