<!-- -->
<!-- File name: contactMe.ejs-->
<!-- Author Name: Amanjot Singh
* Description: this file provide the contactMe page
* -->
<%- include partials/header.ejs%>
<h1><%=heading%></h1>
<div class="list-group-item">
    <a href="https://www.facebook.com/aman.maan.56614"><img src="/images/facebook.png"  witdh="90" height="90"></a>
    <a href="https://twitter.com/amanmaan1996"><img src="/images/twitter.png"  witdh="90" height="90"></a>
    <a href="https://www.instagram.com/aman_maaan"><img src="/images/instagram.jfif"  witdh="90" height="90"></a>
    <a href="https://plus.google.com/109060578527872316764"><img src="/images/google.png"  witdh="90" height="90"></a>
    <a href="https://github.com/amanmaan12345"><img src="/images/github.png"  witdh="90" height="90"></a>
</div>
<%- include partials/footer.ejs%>