<%- include partials/header.ejs%>

    <h1> Amanjot Singh, </h1>
    <h2> Welcome to the my Portfolio Website</h2>
    <div class="panel-body">
        <h3>Class of WEB DEVELOPMENT- special thanks to Professor Richard Freeman</h3>
    </div>

    <%- include partials/footer.ejs%>
