<%- include partials/header.ejs%>
<h1><%=heading%></h1>
<div class="media-list">
    <ul>
        <li><a href="http://gc200325829.computerstudi.es/project" >Click to go to First Website</a></li>
        <li><a href="http://gc200325829.computerstudi.es/assignment-4">Click to go to Second Website</a></li>
    </ul>

</div>
<%- include partials/footer.ejs%>