<%- include partials/header.ejs%>
<h1><%=heading%></h1>
<div class="list-group-item-info">
    <ul>
        <li>Java based Application's Development</li>
        <li>Web development- PHP, HTML, Javascript</li>
        <li>Web Design- CSS</li>
        <li>Database management- MYSQL, Online Databases</li>
        <li>IBM Mainframe Service handling</li>
    </ul>
</div>
<%- include partials/footer.ejs%>